@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 0 4px 24px;
}

.header h1 {
    color: #191f28;
    font-family: Pretendard;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
}

.primaryBtn {
    display: flex;
    justify-self: center;
    align-items: center;
    border-radius: 8px;
    background: #3182f6;
    border: none;
    color: #fff;
    font-family: Pretendard;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.primaryBtn:hover {
    filter: brightness(0.9);
}

.primaryBtn:active,
.primaryBtn:focus {
    filter: brightness(0.8);
}
