@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 0 4px 24px;
}

.header h1 {
    color: #191f28;
    font-family: Pretendard;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
}

.primaryBtn,
.secondaryBtn {
    display: flex;
    justify-self: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    font-family: Pretendard;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.primaryBtn:not(:disabled),
.secondaryBtn:not(:disabled) {
    cursor: pointer;
}

.primaryBtn:disabled,
.secondaryBtn:disabled {
    cursor: not-allowed;
}

.primaryBtn {
    background: #3182f6;
    color: #fff;
}

.secondaryBtn {
    background: #f2f4f6;
    color: #505967;
}

.primaryBtn:hover:not(:disabled),
.secondaryBtn:hover:not(:disabled) {
    filter: brightness(0.9);
}

.primaryBtn:active:not(:disabled),
.primaryBtn:focus:not(:disabled),
.secondaryBtn:active:not(:disabled),
.secondaryBtn:focus:not(:disabled) {
    filter: brightness(0.8);
}
