.searchBar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.searchBar > input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.productTableContainer {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    margin: 10px 0;
    overflow-x: auto;
}

.productTable {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.productTable tr > td {
    padding: 0;
    height: 30px;
}

.productTable tr > td.name {
    width: calc((100% - 60px) * 0.6);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.productTable tr > td.price {
    width: calc((100% - 60px) * 0.4);
    text-align: end;
}

.productTable tr > td.btn {
    width: 30px;
}

.productTable tr > td > input[type="text"] {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.productTable button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 5px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.productTable button:hover {
    background: rgb(220, 220, 220);
}

.productTable > caption {
    font-weight: bold;
    height: 30px;
    line-height: 30px;
}
