.addressBtn {
    color: #333d4b;
    font-family: Pretendard;
    font-size: 17px;
    font-weight: 500;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.categoryContainer {
    padding: 70px 24px 0 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}

.categoryBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 12px;
    width: 30%;
    border-radius: 8px;
    background: #fafafb;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.categoryBtn:hover {
    filter: brightness(0.9);
    transform: scale(1.02);
}

.categoryBtn:active,
.categoryBtn:focus {
    filter: brightness(0.8);
    transform: scale(0.98);
}

.categoryBtn > img {
    width: 28px;
    height: 28px;
}

.categoryBtn > span {
    color: #333d4b;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 600;
}
